/* Reset básico e corpo */
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  background-color: #e53935;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px #8b1c1c;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mascote {
  height: auto;
  width: 80px;
}

.banco-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 50px;
  margin: 10px 0 5px;
  text-align: center;
  display: flex;
  line-height: 1.2;
}

.banco-title .banco {
  font-family: 'League Spartan', sans-serif;
  color: rgb(20, 2, 34);
  font-weight: bold;
  font-size: 30px;
}

.banco-title .malvader {
  font-family: 'League Spartan', sans-serif;
  font-size: 30px;
  color: white;
}

.login-link {
  color: black;
  font-weight: bold;
}

/* Cabeçalho da página */
.cabeçalho {
  font-family: 'Be Vietnam Pro', sans-serif;
  flex: 1;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

/* Containers para os formulários */
.container {
  max-width: 1200px;
  width: 100%; 
  padding: 20px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  background-color: #121212;
  flex-grow: 1;      
  min-width: 300px;  
}

/* Formulário */
.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.register-form label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
}

.register-form input {
  padding: 15px;
  border: none;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.register-form input::placeholder {
  color: #aaa;
}

/* Texto geral */
.texto {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

/* Títulos dos blocos */
.dados {
  color: white;
  font-size: 25px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: bold;
}

/* Botão Cadastrar */
.register-form button {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 12px 40px;
  background-color: #d33a2c;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 4px 0 #881a1a;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #b12d22;
}